.bg-grey{
    background-color: rgb(216, 215, 215);
}

.imgServices{
    height: 300px;
}

.cardSize{
    width: 100%!important;
    margin: 0!important;
    height: 300px;
}

.nav-link{
    color: rgba(255, 255, 255, 0.5);
    transition: .4s;
}

.nav-link:hover{
    color: white!important;
}
